@import '../../styles/variables.scss';

.wrapper {
    font-family: $light;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f6f8;
}
.container {
    min-width: 377px;
    padding-bottom: 80px;
    @media screen and (max-width: 400px) {
        min-width: 80%;
    }
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    &_title {
        margin: 0;
        font-size: 24px;
        color: $color-dark-blue;
        line-height: 28px;
        align-self: center;
    }
    &_logo {
        margin-right: 11px;
        height: 44.5px;
        width: 44.5px;
        align-self: center;
    }
}
