@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../assets/fonts/HelveticaBold/helvetica_bold.eot');
    src: local('☺'), url('../assets/fonts/HelveticaBold/helvetica_bold.woff') format('woff'),
        url('../assets/fonts/HelveticaBold/helvetica_bold.woff2') format('woff2'),
        url('../assets/fonts/HelveticaBold/helvetica_bold.ttf') format('truetype'),
        url('../assets/fonts/HelveticaBold/helvetica_bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Regular';
    src: url('../assets/fonts/HelveticaRegular/helvetica_regular.eot');
    src: local('☺'), url('../assets/fonts/HelveticaRegular/helvetica_regular.woff') format('woff'),
        url('../assets/fonts/HelveticaRegular/helvetica_regular.woff2') format('woff'),
        url('../assets/fonts/HelveticaRegular/helvetica_regular.ttf') format('truetype'),
        url('../assets/fonts/HelveticaRegular/helvetica_regular.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
