$color-accent: #0ec261;
$color-blue: #007bff;
$color-dark-blue: #3d5170;
$color-dark-gray: #999;
$color-light-gray: #eeeeee;
$color-black: #121212;
$color-bg: #f5f6f8;

$btn: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
$btn-hover: brightness(0.9);
$btn-active: brightness(0.9);
$btn-focus: brightness(0.7);

$bold: 'Helvetica-Bold', sans-serif;
$light: 'Helvetica-Regular', sans-serif;
