@import '../../styles/variables.scss';

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_container {
        font-family: $light;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f6f8;
    }
    & h3 {
        color: $color-dark-blue;
        font-size: 50px;
        margin: 13px 0 0px;
        letter-spacing: -2px;
        text-align: center;
        @media screen and (max-width: 550px) {
            font-size: 29px;
            margin: 8px 0 0;
        }
    }
    & p {
        text-align: center;
        font-size: 19px;
        color: #818ea3;
        margin: 15px 0 34px;
        @media screen and (max-width: 550px) {
            font-size: 11px;
            margin: 12px 0 15px;
        }
    }
}
