@import '../../../styles/variables.scss';

.order {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: $light;
    overflow: auto;
    padding: 30px;
    background: #f5f6f8;

    @media screen and (max-width: 1023px) {
        padding: 10px;
    }
    &_title {
        margin: 0 0 28px 0;
        line-height: 33px;
        font-size: 29px;
        color: $color-dark-blue;

        @media screen and (max-width: 1023px) {
            margin: 0 0 17px 5px;
        }
    }
    &_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 1px 0 rgba(90, 97, 105, 0.11), 0 2px 4px rgba(90, 97, 105, 0.12),
            0 5px 5px rgba(90, 97, 105, 0.06), 0 3.5px 35px rgba(90, 97, 105, 0.1);
        border-radius: 9px;
        background: #ffffff;
        overflow: visible;
    }
}
.paginationSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $color-light-gray;
    width: 100%;
    padding: 21px 0;
    margin: 15px auto 0;
}
