@import '../../../../styles/variables.scss';

.order {
    box-sizing: border-box;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding: 0 22px;
    width: 100%;
    min-height: fit-content;
    border-radius: 6px;

    @media screen and (max-width: 830px) {
        padding: 0 12px;
    }

    &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 670px) {
            flex-wrap: wrap;
        }
    }
}
.main_info {
    display: flex;

    @media screen and (max-width: 670px) {
        margin-bottom: 12px;
    }
}
.descr {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    max-width: 260px;
    font-size: 13px;
    line-height: 15px;
    color: #889098;
    &_item {
        margin-bottom: 6px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &_strong {
        color: $color-black;
    }
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 80px;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        margin-right: 16px;

        @media screen and (max-width: 1120px) {
            display: none;
        }
        & span {
            display: block;
        }
    }
}
.price {
    font-size: 24px;
    line-height: 28px;
    color: $color-black;

    @media screen and (max-width: 670px) {
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    @media screen and (max-width: 476px) {
        display: block;
        width: auto;
    }
}
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
